body {
    background-color: rgb(192, 194, 199);
}

.section {
    margin-top: 58px;
}

.box {
    height: 40px;
    width: 100%;
}


/* style for navbar */

.navbar {
    background-color: #231a70!important;
}

.navbar-nav {
    margin: 0 auto;
}


/* .navbar-nav {
    margin-right: 50px;
} */

.active {
    color: rgba(44, 218, 241, 0.993)!important;
}

a {
    font-size: 14px;
    color: #fff!important;
}

a:hover {
    color: rgb(115, 182, 226)!important;
}


/* style for footer */

.footer {
    background-color: rgb(9, 17, 65);
}

.row {
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__icons {
    color: #fff;
    font-weight: 500;
}

.footer__social {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    font-size: 14px;
    margin-left: 175px;
}

.footer__social img {
    margin-right: 10px;
}

.footer__social a {
    padding: 10px 0px;
}

.footer__logo {
    padding: 50px 10px;
    align-items: center;
    width: 30%;
    margin-left: 140px;
}

.footer__content {
    color: #fff;
}

.footer__text {
    font-weight: 500;
}

.footer__content img {
    margin-right: 10px;
    color: #fff;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    margin-left: 60px;
}


/* style for contacts */

.display-4 {
    margin-top: 20px;
}

.our_map {
    margin: 0 auto;
}


/* style for blog */

.alert-heading {
    margin-top: 20px;
}


/* style for portfolio */

.card-header {
    margin-top: 20px;
}


/* style for about */

.rounded .float-right img,
.rounded .float-left img {
    margin: 0px 5px;
}


/* new */

.card {
    /* width: 18rem; */
    background-color: transparent;
    margin: 10px 0;
    border: none;
    margin: 0 auto;
}

.card+.card {
    margin-left: 15px;
}

.card h3,
.card p {
    padding: 0px 5px;
}

.satellit {
    height: 50px;
}